.userLoaderBtn{
    background-color: #323232;
    padding: .5em;
    border: 1px  solid rgba(235, 235, 235, .1);
    width: 7em;
}
.userLoaderBtn:hover{
    font-weight: bold;
}
.pagination{
    padding: .5em;
}
.pagination span{
    margin-right: .2em;
}
.active{
    font-weight: bold;
}