.form{
    width: 100%;
    height: 100%;
    margin: .5em;
}
.input{
    width: 90%;
    height: 2.5em;
    background-color: #323232;
    border-top: 1px  solid rgba(235, 235, 235, .1);
    border-left: 1px  solid rgba(235, 235, 235, .1);
    border-bottom: 1px  solid rgba(235, 235, 235, .1);
    padding: .5em;
}
.input:focus{
    outline: none;
}
.submit{
    width: 10%;
    height: 2.5em;
    background-color: #323232;
    border-top: 1px  solid rgba(235, 235, 235, .1);
    border-right: 1px  solid rgba(235, 235, 235, .1);
    border-bottom: 1px  solid rgba(235, 235, 235, .1);
}
